include AGENTS.md
include README.md
include CONTRIBUTING.md
include SPEC.md
include PLAN.md
include CHANGELOG.md
include LICENSE
include VERSION
include THIRD_PARTY_LICENSES.md
include requirements.in
include requirements.lock
include devcovenant/README.md
include devcovenant/registry/*
recursive-include devcovenant/core/profiles *
recursive-include devcovenant/core/policies *
recursive-include devcovenant/custom/profiles *
recursive-include devcovenant/custom/policies *
recursive-include tests *
