include AGENTS.md
include README.md
include CONTRIBUTING.md
include SPEC.md
include PLAN.md
include CHANGELOG.md
include LICENSE
include THIRD_PARTY_LICENSES.md
include requirements.in
include requirements.lock
include devcovenant/README.md
include devcovenant/VERSION
recursive-include devcovenant/docs *
recursive-include devcovenant/registry/global *
exclude devcovenant/config.yaml
exclude devcovenant/registry/local/*
recursive-include devcovenant/core/profiles *
recursive-include devcovenant/core/policies *
recursive-exclude devcovenant/custom *
recursive-exclude devcovenant/registry/local *
recursive-exclude tests *
recursive-exclude .devcov-state *
