include README.md
include LICENSE
include licenses/THIRD_PARTY_LICENSES.md
recursive-include licenses *.txt
include requirements.in
include requirements.lock
include devcovenant/README.md
include devcovenant/VERSION
recursive-include devcovenant/core/contracts/invariants *.yaml
include devcovenant/logs/README.md
recursive-include devcovenant/docs *
include devcovenant/registry/README.md
recursive-include devcovenant/builtin/profiles *
recursive-include devcovenant/builtin/policies *
prune devcovenant/custom
include devcovenant/custom/__init__.py
include devcovenant/custom/README.md
include devcovenant/custom/policies/__init__.py
include devcovenant/custom/policies/README.md
include devcovenant/custom/profiles/__init__.py
include devcovenant/custom/profiles/README.md
